%article.keyword-categories

  %header.page-header.row
    %h1.pull-left= t('nav.keyword_categories.index')
    = link_to t('actions.keyword_categories.new'), new_keyword_category_path, :class => 'btn btn-primary pull-right'

  %section.row
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.category')
        %th= t('.actions')

      - collection.each do |keyword_category|
        %tr
          %td= link_to keyword_category.name, keyword_category_path(keyword_category)
          %td
            = link_to t('actions.keyword_categories.edit'), edit_keyword_category_path(keyword_category), :class => 'btn btn-small'
            = link_to t('actions.keyword_categories.delete'), keyword_category_path(keyword_category), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small'

    = paginate collection

