%article.keyword-category

  %ul.breadcrumb.row
    %li
      = link_to t('nav.keyword_categories.index'), keyword_categories_path
      %span.divider /
    %li.active
      = resource.name

  %header.page-header.row
    %h1.pull-left
      = resource.name
    %p.pull-right
      = link_to t('actions.keyword_categories.edit'), edit_keyword_category_path(resource), :class => 'btn'
      = link_to t('actions.keywords.new'), new_keyword_path(keyword_category_id: resource.id), :class => 'btn btn-primary'

  %section.row
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.keyword')
        %th= t('.actions')

      - resource.keywords.each do |keyword|
        %tr
          %td= link_to keyword.name, keyword_path(keyword)
          %td
            = link_to t('actions.keywords.edit'), edit_keyword_path(keyword), :class => 'btn btn-small'
            = link_to t('actions.keywords.delete'), keyword_path(keyword), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small'

    = paginate collection
