%article.search

  %section.filters
    %dl.span2
      %dt= t('.filters.date.title')
      %dd= link_to t('.filters.date.all'), request.query_parameters.merge(updated: nil), :class => is_active?('updated', 'all')
      %dd= link_to t('.filters.date.today'), request.query_parameters.merge(updated: 'today'), :class => is_active?('updated', 'today')
      %dd= link_to t('.filters.date.yesterday'), request.query_parameters.merge(updated: 'yesterday'), :class => is_active?('updated', 'yesterday')
      %dd= link_to t('.filters.date.this_week'), request.query_parameters.merge(updated: 'this-week'), :class => is_active?('updated', 'this-week')
      %dd= link_to t('.filters.date.this_month'), request.query_parameters.merge(updated: 'this-month'), :class => is_active?('updated', 'this-month')

    %dl.span2
      %dt= t('.filters.keywords.title')
      %dd= link_to t('.filters.keywords.all'), request.query_parameters.merge('tags' => nil), :class => is_active?('tags', 'all')
      - skills_keywords_by_name.each do |keyword|
        - if is_active?('tags', keyword.name).present?
          %dd= link_to keyword.name, request.query_parameters.merge('tags' => params[:tags] - [keyword.name]), :class => 'active'
        - else
          %dd= link_to keyword.name, request.query_parameters.merge('tags[]' => keyword.name)

    %dl.span2
      %dt= t('.filters.most_used_keywords.title')
      %dd= link_to t('.filters.most_used_keywords.all'), request.query_parameters.merge('most-used-keywords' => nil), :class => is_active?('most-used-keywords', 'all')
      - firsts(@sheets.facets['tags'], 10).each do |keyword|
        - if is_active?('most-used-keywords', keyword['term']).present?
          %dd= link_to keyword['term'], request.query_parameters.merge('most-used-keywords' => params['most-used-keywords'] - [keyword['term']]), :class => 'active'
        - else
          %dd= link_to keyword['term'], request.query_parameters.merge('most-used-keywords[]' => keyword['term'])

    %dl.span2
      %dt= t('.filters.level.title')
      %dd= link_to t('.filters.level.all'), request.query_parameters.merge(level: nil), :class => is_active?('level', 'all')
      - (1..3).each do |level|
        %dd= link_to t(".filters.level.#{level}"), request.query_parameters.merge(level: level), :class => is_active?('level', level.to_s)

    %dl.span2
      %dt= t('.filters.up_to_date.title')
      %dd= link_to t('.filters.up_to_date.all'), request.query_parameters.merge(up_to_date: nil), :class => is_active?('up_to_date', 'all')
      %dd= link_to t('.filters.up_to_date.yes'), request.query_parameters.merge(up_to_date: true), :class => is_active?('up_to_date', 'true')
      %dd= link_to t('.filters.up_to_date.no'), request.query_parameters.merge(up_to_date: false), :class => is_active?('up_to_date', 'false')

  %section
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.keywords')
        %th= t('.sheet')

      = render partial: "shared/sheets", locals: {sheets: @sheets.to_a}

    = paginate paginable_sheets(@sheets)

