%article.search

  %header.page-header.row
    %h1.pull-left= t('.title', count: @sheets.size, query: params[:query])
    = link_to t('actions.sheets.new'), new_sheet_path, :class => 'btn btn-primary pull-right'

  %section.row
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.keywords')
        %th= t('.sheet')
        %th= t('.actions')

      - @sheets.each do |sheet|
        %tr
          %td
            - sheet.keywords.each do |keyword|
              %span.label.label-info= keyword.name
          %td= link_to sheet.title, sheet_path(sheet)
          %td
            = link_to t('actions.sheets.edit'), edit_sheet_path(sheet), :class => 'btn btn-small'
            = link_to t('actions.sheets.delete'), sheet_path(sheet), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small'

    = paginate @sheets


