%article.search

  %header.page-header.row
    %h1.pull-left= t('.title', count: @sheets.total_count, query: params[:query])
    = link_to t('actions.sheets.new'), new_sheet_path, :class => 'btn btn-primary pull-right'

  %section.filters.row
    %dl.span2
      %dt= t('.filters.date.title')
      %dd= link_to t('.filters.date.all'), request.query_parameters.merge(updated: ''), :class => is_active?('updated', 'all')
      %dd= link_to t('.filters.date.today'), request.query_parameters.merge(updated: 'today'), :class => is_active?('updated', 'today')
      %dd= link_to t('.filters.date.yesterday'), request.query_parameters.merge(updated: 'yesterday'), :class => is_active?('updated', 'yesterday')
      %dd= link_to t('.filters.date.this_week'), request.query_parameters.merge(updated: 'this-week'), :class => is_active?('updated', 'this-week')
      %dd= link_to t('.filters.date.this_month'), request.query_parameters.merge(updated: 'this-month'), :class => is_active?('updated', 'this-month')

    %dl.span2
      %dt= t('.filters.keywords.title')
      %dd= link_to t('.filters.keywords.all'), request.query_parameters.merge(tag: ''), :class => is_active?('tag', 'all')
      - KeywordCategory.skills.keywords.each do |keyword|
        %dd= link_to keyword.name, request.query_parameters.merge(tag: keyword.name), :class => is_active?('tag', keyword.name)

    %dl.span2
      %dt= t('.filters.most_used_keywords.title')
      %dd= link_to t('.filters.most_used_keywords.all'), request.query_parameters.merge('most-used-keyword' => ''), :class => is_active?('most-used-keyword', 'all')
      - firsts(@sheets.facets['tags'], 10).each do |keyword|
        %dd= link_to "#{keyword['term']} (#{keyword['count']})", request.query_parameters.merge('most-used-keyword' => keyword['term']), :class => is_active?('most-used-keyword', keyword['term'])

    %dl.span2
      %dt= t('.filters.level.title')
      %dd= link_to t('.filters.level.all'), request.query_parameters.merge(level: ''), :class => is_active?('level', 'all')
      - (1..3).each do |level|
        %dd= link_to t(".filters.level.#{level}"), request.query_parameters.merge(level: level), :class => is_active?('level', level.to_s)

    %dl.span2
      %dt= t('.filters.up_to_date.title')
      %dd= link_to t('.filters.up_to_date.all'), request.query_parameters.merge(up_to_date: ''), :class => is_active?('up_to_date', 'all')
      %dd= link_to t('.filters.up_to_date.yes'), request.query_parameters.merge(up_to_date: true), :class => is_active?('up_to_date', 'true')
      %dd= link_to t('.filters.up_to_date.no'), request.query_parameters.merge(up_to_date: false), :class => is_active?('up_to_date', 'false')

  %section.row
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.keywords')
        %th= t('.sheet')

      = render partial: "shared/sheets", locals: {sheets: @sheets.to_a}

    = paginate Kaminari.paginate_array(@sheets.to_a, total_count: @sheets.total).page(params[:page] || 1)


