%article.search

  %header.page-header.row
    %h1.pull-left= t('.title', count: @sheets.size, query: params[:query])
    = link_to t('actions.sheets.new'), new_sheet_path, :class => 'btn btn-primary pull-right'

  %section.filters.row
    .span3
      %h2= t('.filters.date.title')
      = link_to t('.filters.date.all'), request.query_parameters.merge(updated: '')
      = link_to t('.filters.date.today'), request.query_parameters.merge(updated: 'today')
      = link_to t('.filters.date.yesterday'), request.query_parameters.merge(updated: 'yesterday')
      = link_to t('.filters.date.this_week'), request.query_parameters.merge(updated: 'this-week')
      = link_to t('.filters.date.this_month'), request.query_parameters.merge(updated: 'this-month')

    .span3
      %h2= t('.filters.keywords.title')
      = link_to t('.filters.keywords.all'), request.query_parameters.merge(tag: '')
      - @sheets.facets['tags']['terms'].each do |keyword|
        = link_to keyword['term'], request.query_parameters.merge(tag: keyword['term'])

    .span3
      %h2= t('.filters.level.title')
      = link_to t('.filters.level.all'), request.query_parameters.merge(level: '')
      - (1..3).each do |level|
        = link_to t(".filters.level.#{level}"), request.query_parameters.merge(level: level)

    .span3
      %h2= t('.filters.up_to_date.title')
      = link_to t('.filters.up_to_date.all'), request.query_parameters.merge(up_to_date: '')
      = link_to t('.filters.up_to_date.yes'), request.query_parameters.merge(up_to_date: true)
      = link_to t('.filters.up_to_date.no'), request.query_parameters.merge(up_to_date: false)

  %section.row
    %table.table.table-bordered.table-striped
      %tr
        %th= t('.keywords')
        %th= t('.sheet')
        %th= t('.actions')

      - @sheets.each do |sheet|
        %tr
          %td
            - sheet.keywords.each do |keyword|
              %span.label.label-info= keyword.name
          %td= link_to sheet.title, sheet_path(sheet)
          %td
            = link_to t('actions.sheets.edit'), edit_sheet_path(sheet), :class => 'btn btn-small'
            = link_to t('actions.sheets.delete'), sheet_path(sheet), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small'

    = paginate @sheets


