<%= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, :input_html => { :class => 'span3' } %>
  <%= f.input :level, as: :radio_buttons, collection: Sheet::LEVELS %>
  <%= f.input :up_to_date %>
  <% if resource.errors.has_key?(:keywords) %>
    <div class='alert alert-error'>
      <%= f.error :keywords %>
    </div>
  <% end %>
  <% KeywordCategory.all.each do |keyword_category| %>
    <h6><%= keyword_category.name %></h6>
    <%= f.association :keywords, collection: keyword_category.keywords, as: :check_boxes, label: false, error: false %>
  <% end %>
  <%= f.input :description, :as => :ckeditor, label: false %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
