%article.sheet

  %ul.breadcrumb.row
    %li
      = link_to t('.sheets'), sheets_path
      %span.divider /
    %li
      = link_to resource.title, sheet_path(resource)
    %li.active
      %span.divider /
      = t('edit')

  %header.page-header.row
    %h1.pull-left
      = t('edit_sheet')

  = render :partial => 'form'

