%article.sheet
  %header
    %h1= resource.title
    %ul
      - resource.keywords.each do |keyword|
        %li= link_to keyword.name, keyword_path(keyword)
    %p
      = t('level')
      = resource.level
  %article
    = raw(resource.description_html)
  = link_to t('.edit'), edit_sheet_path(resource)

