%header.navbar-inner
  %p.pull-left
    = link_to search_index_path, :class => 'btn', :title => 'Retour' do
      %i.icon-chevron-left
  %h1.pull-left
    = resource.title
  .pull-right
    - if last_search?
      - if previous_result
        =link_to sheet_path(previous_result), :class => 'btn' do
          %i.icon-arrow-left
      - else
        =link_to '#', :class => 'btn disabled' do
          %i.icon-arrow-left
      - if next_result
        =link_to sheet_path(next_result), :class => 'btn' do
          %i.icon-arrow-right
      - else
        =link_to '#', :class => 'btn disabled' do
          %i.icon-arrow-right

%aside{ :class => "level_#{resource.level}" }
  %p.picture
    =image_tag("no_picture.png")
  .metadata
    - resource.keywords.each do |keyword|
      %span.badge= keyword.name
  .history
    %ul.unstyled
      - resource.histories.last(10).reverse.each do |history|
        %li
          = t(".histories.#{history.action}", user: history.user.name, time: l(history.created_at, format: :short))

%article.sheet

  %article
    %section.description
      = raw(resource.description)
  .actions
    = link_to edit_sheet_path(resource), :class => 'btn btn-mini btn-primary' do
      %i.icon-pencil.icon-white
    = link_to sheet_path(resource), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-mini' do
      %i.icon-trash

