%article.sheet

  %ul.breadcrumb.row
    %li
      = link_to t('nav.sheets.index'), sheets_path
      %span.divider /
    %li.active
      = resource.title

  %header.page-header.row
    %h1.pull-left
      = resource.title
    .pull-right
      = link_to t('actions.sheets.edit'), edit_sheet_path(resource), :class => 'btn btn-primary'
      = link_to t('actions.sheets.delete'), sheet_path(resource), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small'
    .metadata
      %span.last-modified
        = t(".histories.last_modified", time: resource.updated_at)
      %span.badge= resource.level
      - resource.keywords.each do |keyword|
        %span.label.label-info= keyword.name

  %article
    %section.description
      = raw(resource.description)

    %section.history.row
      %h1= t(".history")
      %table.table.table-bordered.table-striped
        - resource.histories.each do |history|
          %tr
            %td
              = t(".histories.#{history.action}", user: history.user.name, time: history.created_at)

