%header.navbar-inner
  %h1.pull-left
    = resource.title
  .pull-right
    - if last_search?
      - if previous_result
        =link_to sheet_path(previous_result), :class => 'btn' do
          %i.icon-arrow-left
          =t('actions.search.prev')
      - if next_result
        =link_to sheet_path(next_result), :class => 'btn' do
          %i.icon-arrow-right
          =t('actions.search.next')

%aside{ :class => "level_#{resource.level}" }
  %p.picture
    =image_tag("defaut.jpeg")
  .actions
    = link_to edit_sheet_path(resource), :class => 'btn btn-info' do
      %i.icon-pencil.icon-white
      = t('actions.sheets.edit')
    = link_to sheet_path(resource), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-info' do
      %i.icon-trash.icon-white
      =t('actions.sheets.delete')
  .metadata
    - resource.keywords.each do |keyword|
      %span.label.label-info= keyword.name
  .history
    %p
      %span.badge= resource.level
    %p.last-modified
      = t(".histories.last_modified", time: l(resource.updated_at, format: :short))
    %ul.unstyled
      - resource.histories.each do |history|
        %li
          = t(".histories.#{history.action}", user: history.user.name, time: l(history.created_at, format: :short))

%article.sheet

  %article
    %section.description
      = raw(resource.description)

    %section.history
      %h1= t(".history")
      %table.table.table-bordered.table-striped
        - resource.histories.each do |history|
          %tr
            %td
              = t(".histories.#{history.action}", user: history.user.name, time: l(history.created_at, format: :short))

