= link_to t('.new'), new_keyword_path
%article.keywords
  %ul
    - collection.each do |keyword|
      %li
        %h1= "#{keyword.name} (#{keyword.keyword_category.name})"
        %p
          = link_to t('edit'), edit_keyword_path(keyword)
          = link_to t('show'), keyword_path(keyword)
          = link_to t('delete'), keyword_path(keyword), method: :delete, confirm: t('.confirm_delete')
  = paginate collection

