<article class='keywords'>

  <header class='page-header row'>
    <h1 class='pull-left'><%= t('.title') %></h1>
    <div class='pull-right'>
      <%= link_to t('actions.keywords.new'), new_keyword_path, :class => 'btn btn-primary' %>
      <%= link_to t('actions.keyword_categories.new'), new_keyword_category_path, :class => 'btn btn-primary' %>
    </div>
  </header>

  <section class='row'>
    <% KeywordCategory.all.each do |category| %>
      <table class='table table-bordered table-striped'>
        <tr>
          <th><%= link_to category.name, keyword_category_path(category) %></th>
          <th>
            <%= link_to t('actions.keyword_categories.edit'), edit_keyword_category_path(category), :class => 'btn btn-small' %>
            <%= link_to t('actions.keyword_categories.delete'), keyword_category_path(category), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small' %>
          </th>
        </tr>
        <% category.keywords.each do |keyword| %>
        <tr>
          <td><%= link_to keyword.name, keyword_path(keyword) %></td>
          <td>
            <%= link_to t('actions.keywords.edit'), edit_keyword_path(keyword), :class => 'btn btn-small' %>
            <%= link_to t('actions.keywords.delete'), keyword_path(keyword), method: :delete, confirm: t('actions.confirm_delete'), :class => 'btn btn-danger btn-small' %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>
    <%= paginate collection %>
  </section>

</article>
