<!DOCTYPE html>
<html>
  <head>
    <title>Mdd</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <form class='navbar-search pull-left' method='GET' action='/search'>
            <div class='input-prepend'>
              <span class='add-on'>
                <i class='icon-search'></i>
              </span>
              <input class='span2' name='query' type='text' value='<%= params[:query] %>'>
            </div>
          </form>
          <%= link_to new_sheet_path, :class => 'btn btn-primary' do %>
            <i class='icon-plus icon-white'></i>
          <% end %>
          <ul class='nav pull-right'>
            <% if user_signed_in? %>
              <li><%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t('nav.sign_in'), new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <section class='container'>
      <%= render :partial => 'shared/notifications' %>
      <%= yield %>
    </section>

  </body>

</html>
